@model IEnumerable<Garagem75.Models.Veiculo>

@{
    ViewData["Title"] = "Lista de veiculos";
}

<h1>Lista de veiculos</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Modelo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ano)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Placa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fabricante)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cliente)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Modelo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Ano)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Placa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fabricante)
            </td>
                <td>@(item.Cliente != null ? item.Cliente.Nome : "— sem proprietário —")</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdVeiculo" class="btn btn-outline-primary">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdVeiculo" class="btn btn-outline-secondary">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdVeiculo" class="btn btn-outline-danger">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
