@model IEnumerable<Garagem75.Models.Cliente>

@{
    ViewData["Title"] = "Lista de Clientes";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Novo Cliente</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cpf)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdCliente" class=" btn btn-primary">Editar</a> |
                <a asp-action="Details" asp-route-id="@item.IdCliente"class="btn btn-secondary">Detalhes</a> |
                <a asp-action="Delete" asp-route-id="@item.IdCliente" class="btn btn-danger">Deletar</a>
            </td>
        </tr>
}
    </tbody>
</table>
