@model IEnumerable<Garagem75.Models.Peca>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CodPeca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fornecedor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.QuantidadeEstoque)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataCadastro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataUltimaAtualizacao)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CodPeca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fornecedor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuantidadeEstoque)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataCadastro)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DataUltimaAtualizacao)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.IdPeca">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.IdPeca">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.IdPeca">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
